body {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: aquamarine;
}

table,
td,
tr {
  border: 5px solid black;
}

td {
  padding: 70px;
  border-radius: 50%;
}

td:hover {
  cursor: pointer;
}

table {
  padding: 10px;
  background-color: beige;
  border-radius: 10px;
}

.player {
  background-color: gold;
}

.computer {
  background-color: red;
}

.info {
  position: absolute;
  top: 50%;
  left: 15px;
  max-width: 15%;
}

button {
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: black;
  color: aliceblue;
  font-family: "Poppins";
  font-size: 20px;
  border-radius: 1000px;
  display: block;
  margin-top: 20px;
  text-transform: lowercase;
  max-width: 100%;
}
